{% load static wagtailuserbar %}

<!DOCTYPE html>
<html lang="es">
    {% include 'head.html' %}

    <body class="bg-white {% block body_class %}{% endblock %}">
        {% wagtailuserbar %}
        
        {% include 'header.html' %}
        
        <!-- Main content -->
        <div class="container mt-20 sm:mt-24 lg:mt-32 mx-auto flex flex-wrap py-6">
            <!-- Post list Section -->
            <section class="w-full md:w-2/3 flex flex-col items-center px-3">
                {% block content %}{% endblock %}
            </section>

            {% include 'sidebar.html' %}
    
        </div>
    
        {% include 'footer.html' %}

        <script>
            //Javascript to toggle the menu
            document.getElementById('nav-toggle').onclick = function(){
                document.getElementById("nav-content").classList.toggle("hidden");
            }
        </script>
        {% block extra_js %}
            {# Override this in templates to add extra javascript #}
        {% endblock %}

    </body>
</html>


