{% load wagtailcore_tags %}

<footer class="w-full border-t bg-white pb-12">
    <div class="w-full container mx-auto flex flex-col items-center">
        {% if settings.base.MenuSettings.footer_menu %}
        <div class="flex flex-col md:flex-row text-center md:text-left md:justify-between py-2">
            {% for item in settings.base.MenuSettings.footer_menu.menu_items.all %}
                <a href="{{ item.link }}" class="uppercase px-3 hover:text-brand_medium">{{ item.title }}</a>
            {% endfor %}
        </div>
        {% endif %}
        {% if settings.base.FooterSettings.footer_text %}
        <div class="flex flex-col md:flex-row text-center md:text-left md:justify-between py-6">
            {{ settings.base.FooterSettings.footer_text.text | richtext }}
        </div>
        {% endif %}
        <div class="uppercase pb-6">&copy; {% if settings.base.FooterSettings.copyright_text %}{{ settings.base.FooterSettings.copyright_text | richtext }}{% else %}Manjaristas{% endif %}</div>
    </div>
</footer>
