{% load static wagtailcore_tags wagtailimages_tags %}
{% wagtail_site as current_site %}

<!-- Page Header bar -->
<header class="w-full p-4 border-b-4 border-brand_medium fixed top-0 z-10 bg-white">
    <div class="flex container items-center flex-col lg:flex-row mx-auto justify-between">
        
        <div class="flex items-center justify-between w-full lg:w-auto">
            <!-- Logo -->
            <a class="font-bold leading-[4rem] text-brand_dark hover:text-brand_medium text-5xl" href="{{ current_site.root_url }}/">
                {% if settings.base.SiteSettings.site_logo %}
                    {% image settings.base.SiteSettings.site_logo fill-933x172 class="h-14 sm:h-20 hover:scale-105 transition-transform duration-700" %}
                {% else %}
                    <img class="h-14 sm:h-20 hover:scale-105 transition-transform duration-700" src="{% static 'img/Manjaristas.png' %}" alt="Manjaristas">
                {% endif %}
            </a>
            <!-- Hamburguer menu -->
            <div class="lg:hidden">
                <button id="nav-toggle" class="flex items-center px-3 py-2 border rounded text-brand_medium border-brand_medium hover:text-white hover:border-white hover:bg-brand_medium">
                    <svg class="fill-current h-4 w-4 sm:h-6 sm:w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
                </button>
            </div>
        </div>
        <!-- Topic Nav -->
        {% if settings.base.MenuSettings.navigation_menu %}
            <nav id="nav-content" class="w-full flex-grow hidden lg:flex lg:items-center lg:w-auto">
                <div class="w-full container flex flex-col lg:flex-row items-center justify-end text-lg transition-colors text-brand_dark font-bold uppercase mt-0 px-6 py-2">
                    {% for item in settings.base.MenuSettings.navigation_menu.menu_items.all %}
                        <a href="{{ item.link }}" class="hover:bg-brand_dark hover:text-white rounded py-2 px-4 mx-2 transition-colors duration-300 ease-in-out">{{ item.title }}</a>
                    {% endfor %}
                </div>
            </nav>
        {% endif %}
    </div>
</header>
