{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags custom_tags %}

{% block content %}
    {% if page.preface %}
    <section class="prose lg:prose-xl max-w-full w-full">
        {{ page.preface|richtext }}
    </section>
    {% endif %}
    {% if category %}
        <p class="text-3xl my-4"><span class="text-4xl">Categoría:</span> {{ category }}</p>
    {% elif tag %}
        <p class="text-3xl my-4"><span class="text-4xl">Tag:</span> {{ tag }}</p>
    {% elif author %}
        {% include 'base/author-card.html' %}
    {% endif %}
    {% for post in articles %}
        <!-- Single post list item -->
        <article class="flex flex-col shadow my-4 border-b-4 border-brand_medium">
            <!-- Article Image -->
            <a href="{% pageurl post %}" class="hover:opacity-75">
                {% image post.specific.feed_image fill-1000x500 %}
            </a>
            <!-- Article's text -->
            <div class="bg-white flex flex-col justify-start items-start p-6">

                <!-- Section category -->
                <p class="categories text-sm mb-4">
                    {% for category in post.specific.categories.all %}{% if forloop.counter0 %}, {% endif %}<a href="{{ category.url }}" class="text-brand_dark hover:text-brand_light font-bold uppercase">{{ category.name }}</a>{% endfor %}
                </p>

                <!-- Article title -->
                <a href="{% pageurl post %}" class="text-3xl font-bold hover:text-brand_light mb-1">{{ post.title }}</a>

                <!-- Article metadata -->
                <div class="mb-4">
                    <!-- Author and date -->
                    <p class="text-sm mb-0">
                        Por <a href="{{ post.specific.author.url }}" class="font-semibold hover:text-brand_medium">{{ post.specific.author.display_name }}</a> el {% localize_date post.first_published_at 'es' %}
                    </p>

                    <!-- Article tags -->
                    {% if post.specific.tags.count %}
                        <p class="text-sm">
                            tags: 
                            {% for tag in post.specific.tags.all %}{% if forloop.counter0 %}, {% endif %}<a href="{{ tag.url }}" class="text-sm text-brand_dark hover:text-brand_medium">{{ tag.name }}</a>{% endfor %}
                        </p>
                    {% endif %}
                </div>
                <!-- Article content preview -->
                <div class="pb-6">{{ post.specific.intro }}</div>

                <!-- "Continue reading..." -->
                <a href="{% pageurl post %}" class="uppercase text-brand_medium hover:text-white hover:bg-brand_medium p-2 -ml-2 rounded-lg transition-colors duration-300 border-2 border-brand_light">Seguir leyendo <i class="fas fa-arrow-right"></i></a>

            </div>
        </article>
    {% endfor %}

    <!-- Pagination -->
    <div class="flex items-center py-8">
        {% if current_page > 1 %}
            <a href="{{ page.url }}?page={{ previous_page }}" class="h-10 min-w-[2.5rem] font-semibold text-gray-800 hover:bg-brand_light hover:text-white text-sm flex items-center justify-center px-3"><i class="fas fa-arrow-left mr-2"></i> Anterior</a>
        {% endif %}
        {% for page_index in pages %}
            {% if page_index == current_page %}
                <span class="h-10 min-w-[2.5rem] bg-brand_medium font-semibold text-white text-sm flex items-center justify-center px-3">{{ page_index }}</span>
            {% else %}
                <a href="{{ page.url }}?page={{ page_index }}" class="h-10 min-w-[2.5rem] font-semibold text-gray-800 hover:bg-brand_light hover:text-white text-sm flex items-center justify-center px-3">{{ page_index }}</a>
            {% endif %}
        {% endfor %}

        {% if current_page < page_count %}
            <a href="{{ page.url }}?page={{ next_page }}" class="h-10 min-w-[2.5rem] font-semibold text-gray-800 hover:bg-brand_light hover:text-white text-sm flex items-center justify-center px-3">Siguiente <i class="fas fa-arrow-right ml-2"></i></a>
        {% endif %}
    </div>
{% endblock %}
