{% extends "wagtailusers/users/edit.html" %}

{% block extra_fields %}
    <li>{% include "wagtailadmin/shared/field.html" with field=form.bio %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.profile_pic %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.telegram_link %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.twitter_link %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.linkedin_link %}</li>
    <li>{% include "wagtailadmin/shared/field.html" with field=form.instagram_link %}</li>
{% endblock extra_fields %}