{% load wagtailcore_tags %}

{% for widget in text_widgets %}
    <!-- Single sidebar box item: Text box -->
    <div class="w-full bg-white shadow flex flex-col my-4 p-6">
        <!-- Box's title -->
        <p class="text-xl font-semibold pb-5">{{ widget.title }}</p>
        <!-- Box's content -->
        {% comment %} <p class="pb-2"></p> {% endcomment %}
        {{ widget.text|richtext }}
        <!-- Call-to-Action button -->
        <a href="{{ widget.CTA_URL }}" class="w-full bg-brand_medium text-white font-bold text-sm uppercase rounded hover:bg-brand_dark transition-colors duration-300 flex items-center justify-center px-2 py-3 mt-4">
            {{ widget.CTA }}
        </a>
    </div>
{% endfor %}