<div class="w-full bg-white shadow flex flex-col my-4 p-6 border-b-4 border-l-4 border-b-brand_medium border-l-brand_medium">
    <!-- Box's title -->
    <p class="text-xl font-semibold pb-5">Categorias</p>
    <!-- Box's content/list -->
    <ul class="list-disc pl-8 text-xl leading-8">
        {% for category in categories %}
            <li class=""><a class="text-brand_dark hover:text-brand_light" href="{{ category.url }}">{{ category.name }}</a></li>
        {% endfor %}
    </ul>
</div>
