{% load wagtailcore_tags %}

    <div class="w-full bg-white shadow flex flex-col my-4 p-6 border-b-4 border-l-4 border-b-brand_medium border-l-brand_medium">
        <p class="text-xl font-semibold pb-5">{{ widget.title }}</p>
        <ul class="list-disc pl-8 text-xl leading-8">
            {% for link in widget.links.all %}
                <li class=""><a class="text-brand_dark hover:text-brand_light" href="{{ link.url }}">{{ link.text }}</a></li>
            {% endfor %}
        </ul>
    </div>