{% extends "base.html" %}

{% load wagtailcore_tags %}

{% block content %}
<h1 class="text-6xl font-bold mb-1">{{ page.title }}</h1>
<hr class="w-full border-brand_medium border-2 mb-8">
<section class="prose lg:prose-xl">
    {% for block in page.body %}
        {% if block.block_type == 'heading' %}
            <h3>{{ block.value }}</h3>
        {% elif block.block_type == 'paragraph' %}
            <p class="">{{ block.value }}</p>
        {% else %}
            <section class="block-{{ block.block_type }}">
                {% include_block block %}
            </section>
        {% endif %}
    {% endfor %}
</section>
{% endblock %}