{% extends "base.html" %}

{% load wagtailcore_tags wagtailimages_tags custom_tags %}

{% block content %}
<!-- Article -->
<article class="flex flex-col shadow my-4 border-b-4 border-brand_medium">
    <!-- Article Image -->
    {% image page.specific.feed_image fill-1000x500 %}

    <!-- Article's text -->
    <div class="bg-white flex flex-col justify-start items-start p-6">
        <!-- Section category -->
        <div class="categories text-sm mb-4">
            {% for category in page.specific.categories.all %}{% if forloop.counter0 %}, {% endif %}<a href="{{ category.url }}" class="text-brand_dark hover:text-brand_light font-bold uppercase ">{{ category.name }}</a>{% endfor %}
        </div>
        
        <!-- Article title -->
        <h1 class="text-4xl font-bold mb-1">{{ page.title }}</h1>
        
        <!-- Article metadata -->
        <div class="mb-4">
            <!-- Author and date -->
            <p class="text-sm mb-0">
                Por <a href="{{ page.author.url }}" class="font-semibold hover:text-brand_medium">{{ page.author.display_name }}</a> el {% localize_date page.first_published_at 'es' %}
            </p>

            <!-- Article tags -->
            {% if page.tags.count %}
                <p class="text-sm">
                    tags: 
                    {% for tag in page.tags.all %}{% if forloop.counter0 %}, {% endif %}<a href="{{ tag.url }}" class="text-sm text-brand_dark hover:text-brand_medium">{{ tag.name }}</a>{% endfor %}
                </p>
            {% endif %}
        </div>
        
        <!-- Article body -->
        <div class="prose max-w-none">
            {{ page.body|richtext }}
        </div>
    </div>
</article>

<!-- Other Article links -->
<p class="w-full pt-6">Más artículos:

    <div class="w-full flex pt-2">
        <!-- Previous article link -->
        {% if previous_article %}
        <a href="{{ previous_article.url }}" class="w-1/2 bg-white shadow hover:shadow-md shadow-brand_medium hover:shadow-brand_dark text-left p-6 hover:scale-105 transition-all duration-700 group">
            <p class="text-lg text-brand_dark font-bold flex items-center"><i class="fas fa-arrow-left pr-1"></i> Anterior</p>
            <p class="pt-2 group-hover:text-brand_medium">{{ previous_article.title }}</p>
        </a>
        {% else %}
            <div class="w-1/2 bg-white shadow text-left p-6 group"></div>
        {% endif %}
        <!-- Next article link -->
        {% if next_article %}
        <a href="{{ next_article.url }}" class="w-1/2 bg-white shadow hover:shadow-md shadow-brand_medium hover:shadow-brand_dark text-right p-6 hover:scale-105 transition-all duration-700 group">
            <p class="text-lg text-brand_dark font-bold flex items-center justify-end">Siguiente <i class="fas fa-arrow-right pl-1"></i></p>
            <p class="pt-2 group-hover:text-brand_medium">{{ next_article }}</p>
        </a>
        {% else %}
            <div class="w-1/2 bg-white shadow text-left p-6 group"></div>
        {% endif %}
    </div>
</p>

<!-- Author card -->
{% include 'base/author-card.html' %}

{% endblock %}
