{% load wagtailcore_tags wagtailimages_tags %}

<div class="w-full flex flex-col text-center md:text-left md:flex-row shadow bg-white mt-10 mb-10 p-6 border-4 border-brand_medium">
    <!-- Author profile image -->
    <div class="md:pr-12 flex flex-col justify-center items-center md:justify-start pb-4">
        {% image author.profile_pic width-200 class="rounded-full shadow h-32 w-32" %}
        <!-- Author's social links -->
        <div class="flex items-center justify-center text-2xl no-underline text-brand_dark pt-4">
            {% if author.telegram_link %}
            <a class="" href="{{ author.telegram_link }}" target="_blank">
                <i class="fab fa-telegram"></i>
            </a>
            {% endif %}
            {% if author.twitter_link %}
            <a class="pl-4" href="{{ author.twitter_link }}" target="_blank">
                <i class="fab fa-twitter"></i>
            </a>
            {% endif %}
            {% if author.linkedin_link %}
            <a class="pl-4" href="{{ author.linkedin_link }}" target="_blank">
                <i class="fab fa-linkedin"></i>
            </a>
            {% endif %}
            {% if author.instagram_link %}
            <a class="pl-4" href="{{ author.instagram_link }}" target="_blank">
                <i class="fab fa-instagram"></i>
            </a>
            {% endif %}
        </div>
    </div>
    <!-- Author data -->
    <div class="flex-1 flex flex-col justify-center md:justify-start">
        <!-- Author's name -->
        <p class="font-semibold text-2xl">{{ author.display_name }}</p>
        <!-- Author's bio -->
        <p class="pt-2">{{ author.bio | richtext }}</p>
        {% if not is_author %}
            <!-- Read more from this author -->
            <p class="mt-4"><a href="{{ author.url }}" class="uppercase text-brand_medium hover:text-white hover:bg-brand_medium p-2 -ml-2 rounded-lg transition-colors duration-300 border-2 border-brand_light">Ver más de este autor</a></p>
        {% endif %}
    </div>
</div>